<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="css/detailProperty.css"> -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <title>Property Details - RentEase</title>
</head>
    <style>
        /* Reset CSS */
        body, h1, h2, p, ul, li, a {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            font-family: 'Helvetica Neue', Arial, sans-serif;
            color: #333;
        }

        body {
            background-color: #f5f5f5;
        }

        /* Container */
        .container {
            width: 90%;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        /* Header */
        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #4CAF50;
        }

        /* Property Details */
        .property-details {
            margin-top: 20px;
            padding: 20px;
            background: #f9f9f9;
            border-radius: 8px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .property-details-section {
            flex: 0 0 48%;
            margin-bottom: 20px;
        }

        .property-details h2 {
            margin-bottom: 10px;
            font-size: 1.5rem;
            color: #333;
        }

        .property-details-section h3 {
            margin-bottom: 5px;
            font-size: 1.2rem;
            color: #333;
        }

        .property-details-section p {
            margin-bottom: 5px;
            color: #666;
        }

        /* Property Images Gallery */
        .property-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
        }

        .property-images img {
            width: 40vw;
            border-radius: 8px;
            cursor: pointer;
        }
        @media (max-width:600px) {

             .property-images img {
            width: 80vw;
            border-radius: 8px;
            cursor: pointer;
        }
        }

        /* modalimg */
        .modalimg {
            display: none;
            position: fixed;
            justify-content: center;
            align-items: center;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.9);
        }

        .modalimg-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        .modalimg-content img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 15px;
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
        }

        .blur {
            filter: blur(3px); /* Adjust the blur amount as needed */
        }

        /* Responsive Design */
        @media (max-width: 768px) {
            .property-details {
                flex-direction: column;
            }

            .property-details-section {
                flex: 0 0 100%;
            }
        }

        @media (max-width: 480px) {
            h1 {
                font-size: 1.5rem;
            }

            .property-details h2, .property-details-section h3 {
                font-size: 1.2rem;
            }

            .container {
                width: 95%;
                padding: 15px;
            }
        }
        /* Modal container */
 
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fff;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 30px 30px 30px 50px;
    border-radius: 10px;
    width: 60%; /* Could be more or less, depending on screen size */
    height: max-content;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: 'Arial', sans-serif;
}

/* Close button */
.close {
    color: #bbb;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal header */
.modal-content h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Modal text */
.modal-content p {
    color: #555;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

/* Modal list */
.modal-content ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
}

.modal-content ul li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.modal-content ul li button {
    margin-left: 20px;
    padding: 5px 5px 5px 5px;
 
}
@media (max-width:600px) {
    .modal-content ul li {
    font-size: small;
}
.modal-content ul li button {
    font-size: small;
}
}

/* Option container buttons */
.option-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.option-container button:hover {
    background-color: #0056b3;
}

 
.form-btn {
    background-color: #0056b3;
    border-radius: 10px;
    color: white;
}
.payment-btn {
    background-color: #218838;
    border: none;
    border-radius: 10px;
    color: white
}

.option-container .payment-btn:hover {
    background-color: #218838;
    border: none;
}

/* Contact form */
.contact-form {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.contact-form h4 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-size: 16px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}
.contact-form input:hover,
.contact-form textarea:hover {
    border:1.3px solid skyblue;
}
 




.contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}
#getBackForm {
    margin-right: 20px;
    margin-bottom: -8px;
    font-size: x-large;
    cursor: pointer;
}
#getBackForm:hover {
    transform: scale(1.09);
}


    </style>
 
<body>
    <div class="container">
        <h1>Property Details</h1>
        <div class="property-details">
            <div class="property-details-section">
                <h2>Owner Details</h2>
                <div>
                    <h3>Name:</h3>
                    <p><%= property.ownerDetails.nameOfHouseOwner %></p>
                </div>
                <div>
                    <h3>Email:</h3>
                    <p><%= property.ownerDetails.emailOfOwner %></p>
                </div>
                <div>
                    <h3>Phone:</h3>
                     
                    <% if (locals.isOwner) { %>
                        <p id="originalPhnNumber" style="display: block;"> <%= property.ownerDetails.ownerPhnNumber %></p>
                      <% } else { %>

                        <p id="originalPhnNumber" style="display: none;"> <%= property.ownerDetails.ownerPhnNumber %></p>
  
                        <p class="blur" id="fakePhn">7246#####</p>
                         <div id="viewPhnNumber" style="cursor: pointer;color: rgb(62, 62, 221);">(click here to get phone number)</div>
                
                    <%  } %> 
                 
                    
                </div>
                <div>
                    <h3>Pincode:</h3>
                    <p><%= property.ownerDetails.pincodeOfOwner %></p>
                </div>
            </div>
        
            <div class="property-details-section">
                <h2>Property Details</h2>
                <div>
                    <h3>Address:</h3>
                    <p><%= property.propertyDetails.propertyAddress %></p>
                </div>
                <div>
                    <h3>Size:</h3>
                    <p><%= property.propertyDetails.propertySize %>sqft</p>
                </div>
                <div>
                    <h3>Price Range:</h3>
                    <p>Rs. (<%= property.propertyDetails.minPrice %> - <%= property.propertyDetails.maxPrice %>)</p>
                </div>
                <div>
                    <h3>Description:</h3>
                    <p><%= property.propertyDetails.propertyDescription %></p>
                </div>
                <div>
                    <h3>Type:</h3>
                    <p><%= property.propertyDetails.propertyType %></p>
                </div>
            </div>
        </div>
        
        <h2>Property Images</h2>
        <div class="property-images">
            <% if (property.propertyImages && property.propertyImages.length > 0) { %>
                <% property.propertyImages.forEach((image, index) => { %>
                    <img src="/image/<%= image._id %>" alt="<%= image.name %>" onclick="openmodalimg('modalimg<%= index %>')">
            
                    <div id="modalimg<%= index %>" class="modalimg">
                        <span class="close" onclick="closemodalimg('modalimg<%= index %>')">&times;</span>
                        <img class="modalimg-content" src="/image/<%= image._id %>" alt="<%= image.name %>">
                    </div>
                <% }) %>
            <% } else { %>
                <p>No images found for this property.</p>
            <% } %>
        </div>

        <div class="modal" id="viewPhn">
            <div class="modal-content">
                <span class="close" onclick="closeViewPhn()">&times;</span>
                <h3>Contact the Property Owner</h3>

                <div id="div-text-info"> 

                <p>To access the property owner's phone number, you have the following options:</p>
                <ul>
                    <li>
                        Fill out the contact form below to send a request directly to the owner's email.
                        <button class="form-btn" style="cursor: pointer;" onclick="showContactForm()">Contact Form</button>
                    </li>
                    <li>
                        Make a minimal payment of 30 rupees to get the phone number instantly.
                   
                        <button class="payment-btn" id="payBtn" style="cursor: pointer;">Pay only ₹30</button>
                    </li>
                </ul>
            </div>


                <div id="contactForm" class="contact-form" style="display: none;margin-top: -20px;">
                <span style="display: flex;align-items: center;justify-content: center;"><i class="fa-solid fa-arrow-left" id="getBackForm"></i><h4>Contact Form</h4> </span>
                    <form id="contactOwnerForm" action="/request-to-connect" method="post" >
                        <label for="name">Your Name:</label>
                        <input type="text" id="name" name="nameofclient" placeholder="Your name" required>
                        <label for="email">Your Email:</label>
                        <input type="email" id="email" name="emailofclient" placeholder="Your email address" required>
                        <label for="message">Message:</label>
                        <textarea id="message" name="messageofclient" rows="7" placeholder="Required information or any query" required></textarea>
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    
    <!-- <script src="Js/propDetails.js"></script> -->
    <script>
         

const viewPhnNumber = document.getElementById("viewPhnNumber");

viewPhnNumber.addEventListener("click",() => {
    openmodal()
})

        function openmodalimg(modalimgId) {
            var modalimg = document.getElementById(modalimgId);
            modalimg.style.display = "flex";
        }

        function closemodalimg(modalimgId) {
            var modalimg = document.getElementById(modalimgId);
            modalimg.style.display = "none";
        }


   function openmodal() {
            var modal = document.getElementById( 'viewPhn');
            modal.style.display = "flex";
        }
     
        function closeViewPhn() {
    document.getElementById('viewPhn').style.display = 'none';
}

function showContactForm() {
    document.getElementById('contactForm').style.display = 'block';

    document.getElementById('div-text-info').style.display = 'none';
    
}
const getBackForm = document.getElementById("getBackForm")

getBackForm.addEventListener("click",() => {
    document.getElementById('contactForm').style.display = 'none';

document.getElementById('div-text-info').style.display = 'block';

})
 
document.getElementById('contactOwnerForm').addEventListener('submit', function (e) {

    alert('Form submitted. The owner will contact you soon.');
    closeViewPhn();
});


document.getElementById('payBtn').onclick = async function() {
            const response = await fetch('/api/razorpay/createOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    amount: 30, // Amount in INR
                    currency: 'INR',
                    receipt: 'receipt_id_1'
                  

                })
            });
            const order = await response.json();
            
            const options = {
                key: 'rzp_test_SLeOOqQEvpGxpv', 
                amount: order.amount,  
                currency: order.currency,
                name: 'RentEase - YashDev',
                description: 'Payment for accessing phone number',
                order_id: order.id,
                handler: function (response) {
    fetch('/api/razorpay/verifyPayment', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            order_id: order.id,
            payment_id: response.razorpay_payment_id,
            signature: response.razorpay_signature
        })
    }).then(response => response.json())
      .then(data => {
          if (data.success) {
              alert('Payment successful! Phone number will be revealed once also it will sent to your email address.');

              document.getElementById("originalPhnNumber").style.display ="block";
              document.getElementById("fakePhn").style.display = "none";
              document.getElementById("viewPhn").style.display ="none";
              document.getElementById("viewPhnNumber").style.display ="none";
               
              const originalPhnNumber = document.getElementById("originalPhnNumber").innerHTML;
              fetch('/got-number-onmail',{
                method:'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    mobileNumber: originalPhnNumber
                })
              }).then(response => response.json())
                .then(data => {
                    if(data.success) {
                        console.log("number sent on registered email")
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
              
              console.log("yasH");

              // Reveal the phone number here
          } else {
              alert('Payment verification failed');
          }
      })
      .catch(error => {
          console.error('Error:', error);
      });
},

            };

            const rzp1 = new Razorpay(options);
            rzp1.open();
        }

    </script>
</body>
</html>
