<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin=anonymous referrerpolicy=no-referrer>
<link rel=stylesheet href=https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css integrity=sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh crossorigin=anonymous>
<link rel="shortcut icon" href=/imgs/logo.png type=image/x-icon>
<script src=https://checkout.razorpay.com/v1/checkout.js></script>
<link rel=stylesheet href=/css/propDetails.css>
<title>Property Details - RentEase</title>
</head>
<body>
<div class=container>
<h1>Property Details</h1>
<div class=property-details>
<div class=property-details-section>
<h2>Owner Details</h2>
<div>
<h3>Name:</h3>
<p><%= property.ownerDetails.nameOfHouseOwner %></p>
</div>
<div>
<h3>Email:</h3>
<p><%= property.ownerDetails.emailOfOwner %></p>
</div>
<div>
<h3>Phone:</h3>
<% if (locals.isOwner) { %>
<p id=originalPhnNumber style=display:block> <%= property.ownerDetails.ownerPhnNumber %></p>
<% } else { %>
<p id=originalPhnNumber class=blur>7246#####</p>
<div id=viewPhnNumber style=cursor:pointer;color:#3e3edd>(click here to get phone number)</div>
<%  } %>
</div>
<div>
<h3>Pincode:</h3>
<p><%= property.ownerDetails.pincodeOfOwner %></p>
</div>
</div>
<div class=property-details-section>
<h2>Property Details</h2>
<div>
<h3>Address:</h3>
<p><%= property.propertyDetails.propertyAddress %></p>
</div>
<div>
<h3>Size:</h3>
<p><%= property.propertyDetails.propertySize %>sqft</p>
</div>
<div>
<h3>Price Range:</h3>
<p>Rs. (<%= property.propertyDetails.minPrice %> - <%= property.propertyDetails.maxPrice %>)</p>
</div>
<div>
<h3>Description:</h3>
<p><%= property.propertyDetails.propertyDescription %></p>
</div>
<div>
<h3>Type:</h3>
<p><%= property.propertyDetails.propertyType %></p>
</div>
</div>
</div>
<h2>Property Images</h2>
<div class=property-images-container>
<div class=loading-spinner id=loadingSpinner>
<div></div>
<div class=spinner-border role=status>
<span class=sr-only>Loading...</span>
</div>
</div>
<div class=property-images id=propertyImages>
<% if (property.propertyImages && property.propertyImages.length > 0) { %>
<% property.propertyImages.forEach((image, index) => { %>
<img src="/image/<%= image._id %>" alt="<%= image.name %>" onclick='openmodalimg("modalimg<%= index %>")' onload=imageLoaded()>
<div id="modalimg<%= index %>" class=modalimg>
<span class=close onclick='closemodalimg("modalimg<%= index %>")'>&times;</span>
<img class=modalimg-content src="/image/<%= image._id %>" alt="<%= image.name %>">
</div>
<% }) %>
<% } else { %>
<p>No images found for this property.</p>
<% } %>
</div>
</div>
<div class=modal id=viewPhn>
<div class=modal-content>
<span class=close onclick=closeViewPhn()>&times;</span>
<h3>Contact the Property Owner</h3>
<div id=div-text-info>
<p>To access the property owner's phone number, you have the following options:</p>
<ul>
<li>
Fill out the contact form below to send a request directly to the owner's email for phone number and exchange the numbers.
<button class=form-btn style=cursor:pointer onclick=showContactForm()>Contact Form</button>
</li>
<li>
Make a minimal payment of 30 rupees to get the phone number instantly to your email<b>(Suggested)</b>
<button class=payment-btn id=payBtn style=cursor:pointer>Pay only ₹30</button>
</li>
</ul>
</div>
<div id=contactForm class=contact-form style=display:none>
<span style=display:flex;align-items:center;justify-content:center><i class="fa-solid fa-arrow-left" id=getBackForm></i><h4>Contact Form</h4> </span>
<form id=contactOwnerForm action=/request-to-connect method=post>
<label for=name>Your Name:</label>
<input id=name name=nameofclient placeholder="Your name" required>
<label for=email>Your Email:</label>
<input type=email id=email name=emailofclient placeholder="Your email address" required>
<label for=message>Message:</label>
<textarea id=message name=messageofclient rows=7 placeholder="Required information or any query" required></textarea>
<div class="d-flex justify-content-center">
<button type=submit>Send</button>
</div>
</form>
</div>
</div>
</div>
<script src=/Js/propDetails.js></script>
<script src=https://code.jquery.com/jquery-3.4.1.slim.min.js integrity=sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n crossorigin=anonymous></script>
<script src=https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js integrity=sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo crossorigin=anonymous></script>
<script src=https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js integrity=sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 crossorigin=anonymous></script>
</div></body>

</html>