<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 
    <link rel="stylesheet" href="/css/propDetails.css">

    <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Property Details - RentEase</title>
</head>
   
 
<body>
    <div class="container">
        <h1>Property Details</h1>
        <div class="property-details">
            <div class="property-details-section">
                <h2>Owner Details</h2>
                <div>
                    <h3>Name:</h3>
                    <p><%= property.ownerDetails.nameOfHouseOwner %></p>
                </div>
                <div>
                    <h3>Email:</h3>
                    <p><%= property.ownerDetails.emailOfOwner %></p>
                </div>
                <div>
                    <h3>Phone:</h3>
                     
                    <% if (locals.isOwner) { %>
                        <p id="originalPhnNumber" style="display: block;"> <%= property.ownerDetails.ownerPhnNumber %></p>
                      <% } else { %>

                        <p id="originalPhnNumber" style="display: none;"> <%= property.ownerDetails.ownerPhnNumber %></p>
  
                        <p class="blur" id="fakePhn">7246#####</p>
                         <div id="viewPhnNumber" style="cursor: pointer;color: rgb(62, 62, 221);">(click here to get phone number)</div>
                
                    <%  } %> 
                 
                    
                </div>
                <div>
                    <h3>Pincode:</h3>
                    <p><%= property.ownerDetails.pincodeOfOwner %></p>
                </div>
            </div>
        
            <div class="property-details-section">
                <h2>Property Details</h2>
                <div>
                    <h3>Address:</h3>
                    <p><%= property.propertyDetails.propertyAddress %></p>
                </div>
                <div>
                    <h3>Size:</h3>
                    <p><%= property.propertyDetails.propertySize %>sqft</p>
                </div>
                <div>
                    <h3>Price Range:</h3>
                    <p>Rs. (<%= property.propertyDetails.minPrice %> - <%= property.propertyDetails.maxPrice %>)</p>
                </div>
                <div>
                    <h3>Description:</h3>
                    <p><%= property.propertyDetails.propertyDescription %></p>
                </div>
                <div>
                    <h3>Type:</h3>
                    <p><%= property.propertyDetails.propertyType %></p>
                </div>
            </div>
        </div>
        
        <h2>Property Images</h2>
        <div class="property-images">
            <% if (property.propertyImages && property.propertyImages.length > 0) { %>
                <% property.propertyImages.forEach((image, index) => { %>
                    <img src="/image/<%= image._id %>" alt="<%= image.name %>" onclick="openmodalimg('modalimg<%= index %>')">
            
                    <div id="modalimg<%= index %>" class="modalimg">
                        <span class="close" onclick="closemodalimg('modalimg<%= index %>')">&times;</span>
                        <img class="modalimg-content" src="/image/<%= image._id %>" alt="<%= image.name %>">
                    </div>
                <% }) %>
            <% } else { %>
                <p>No images found for this property.</p>
            <% } %>
        </div>

        <div class="modal" id="viewPhn">
            <div class="modal-content">
                <span class="close" onclick="closeViewPhn()">&times;</span>
                <h3>Contact the Property Owner</h3>

                <div id="div-text-info"> 

                <p>To access the property owner's phone number, you have the following options:</p>
                <ul>
                    <li>
                        Fill out the contact form below to send a request directly to the owner's email.
                        <button class="form-btn" style="cursor: pointer;" onclick="showContactForm()">Contact Form</button>
                    </li>
                    <li>
                        Make a minimal payment of 30 rupees to get the phone number instantly.
                   
                        <button class="payment-btn" id="payBtn" style="cursor: pointer;">Pay only ₹30</button>
                    </li>
                </ul>
            </div>


                <div id="contactForm" class="contact-form" style="display: none;margin-top: -20px;">
                <span style="display: flex;align-items: center;justify-content: center;"><i class="fa-solid fa-arrow-left" id="getBackForm"></i><h4>Contact Form</h4> </span>
                    <form id="contactOwnerForm" action="/request-to-connect" method="post" >
                        <label for="name">Your Name:</label>
                        <input type="text" id="name" name="nameofclient" placeholder="Your name" required>
                        <label for="email">Your Email:</label>
                        <input type="email" id="email" name="emailofclient" placeholder="Your email address" required>
                        <label for="message">Message:</label>
                        <textarea id="message" name="messageofclient" rows="7" placeholder="Required information or any query" required></textarea>
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    
    <script src="/Js/propDetails.js"></script>
 
</body>
</html>
